[user]
#	name = 
#	email = 
[help]
	autocorrect = 1
[alias]
	st = status --short --branch
	lg = log --pretty='%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset' --graph
	so = show --pretty='parent %Cred%p%Creset commit %Cred%h%Creset%C(yellow)%d%Creset%n%n%w(72,2,2)%s%n%n%w(72,9,9)%C(cyan)%an%Creset %Cgreen%ar%Creset'
	unstage = reset HEAD
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	ca = commit --all
	cam = commit --all -m
	cm = commit -m
	br = branch
	dc = diff --cached
	sp = status --porcelain
	amend = commit --amend --no-edit
[core]
	editor = vim
